@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("Image/img-bg.jpg");
    opacity: 0,5;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    left: 0;
    right: 0;
    
}
.row{
    height: 550px;
    margin-top: 20px;
}
.item-logo, .item-login{
    margin-top: 30px;
    height: 500px;
}
.login{
    width: 70%;
    height: 80%;
    background-color: white;
    box-sizing: border-box;
    /* box-shadow: 10px 10px 10px  rgba(81, 191, 208, 0.5); */
    -webkit-box-shadow: -1px 0px 0px 11px rgba(81, 191, 208, 0.5);
    -moz-box-shadow: -1px 0px 0px 11px rgba(81, 191, 208, 0.5);
    box-shadow: -1px 0px 0px 11px rgba(81, 191, 208, 0.5);
}
.logo{
    width: 50%;
    height: 60%;
    margin: 30px;
    margin-left:40%;
    background-image: url("Image/logo-QuizzSA.png");
    background-repeat: no-repeat;
    background-size: 70%;
    overflow: hidden;
}
h1{
    margin-left: 130px;
    text-align: center;
    color: white;
    margin-top: -20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 81px;
    letter-spacing: 0.01em;
}
.form{
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
}
#title{
    font-family: Kadwa;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.01em;
    color:#C4C4C4;
    text-align: center;
    margin-top: 40px;
}
label{
    font-family: Kadwa;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #C4C4C4;
    
}
.input{
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 30px;
}
.submit-link{
    margin-top: 60px;
}.btn-connect{
    font-family: 'Kalam', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background-color: #51BFD0;
    border-radius: 5px;
    border: none;
    width: 40%;
}
.link{
    margin-left: 25px;
    text-decoration: none;
    color: #51BFD0;
}
#login{
    background-image: url("Image/user-silhouette.png");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-x: 90%;
    background-position-y: 5px;
}
#password{
    background-image: url("Image/lock.png");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-x: 90%;
    background-position-y: 5px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
span{
    color: red;
}
